.header-container {
	background-color: var(--main);
	color: var(--dark);
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	margin-left: auto;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 22px;
}

.nav li {
	margin-left: 5vw;
}

.nav li:first-child {
	margin-left: 0;
}

.nav a {
	color: var(--dark);
	text-decoration: none;
	text-underline: none;
}

.nav li a:hover {
	transform: scale(1.1);
	border-bottom: 1px solid var(--dark);
}



/* LOGO */ /* LOGO */ /* LOGO */ /* LOGO */ /* LOGO */ /* LOGO */ /* LOGO */ /* LOGO */
.logo {
	font-size: 36px;
	font-weight: bold;
	color: var(--dark);
	text-decoration: none;
	cursor: default;
	transition: padding-bottom 0.3s ease, margin-left 0.3s ease, transform 0.3s ease;
	z-index: 999;
}

.logo:hover {
	transform: scale(1.2);
	margin-left: 15px;
}

.logo:hover span:nth-child(1) {
	animation: flip 0.5s ease forwards 0.10s;
}
.logo:hover span:nth-child(2) {
	animation: flip 0.5s ease forwards 0.20s;
}
.logo:hover span:nth-child(3) {
	animation: flip 0.5s ease forwards 0.30s;
}
.logo:hover span:nth-child(4) {
	animation: flip 0.5s ease forwards 0.40s;
}
.logo:hover span:nth-child(5) {
	animation: flip 0.5s ease forwards 0.50s;
}
.logo:hover span:nth-child(6) {
	animation: flip 0.5s ease forwards 0.60s;
}
.logo:hover span:nth-child(7) {
	animation: flip 0.5s ease forwards 0.70s;
}
.logo:hover span:nth-child(8) {
	animation: flip 0.5s ease forwards 0.80s;
}

@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}