@import 'font.css';
@import 'contact.css';
@import 'about.css';
@import 'projects.css';
@import 'notFound.css';

@import './parts/footer.css';
@import './parts/header.css';
@import './parts/preloader.css';
@import './parts/sandSimulation.css';


:root {
	--light: #FFFFFF;
	--dark: #000000;
	--main: #FFE0CB;
	--main-hover: #e4b4a5;
	--grey: #5A5A5A;
	--lightGrey: #ccc;
}

* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

body {
	font-family: "Space Mono", monospace;
	margin: 0;
	padding: 0;
	cursor: default;
	max-width: 100%;
	/*overflow-x: hidden;*/ /* Commenté pour Lenis */
	transition: 0.3s ease-in;

	/* Pour Lenis */
	overflow: auto;
	height: 100%;
}

/* Inutile car Lenis ? */
.requires-no-scroll {
	overflow: hidden;
}


/* Dark Mode */
.dark {
	background-color: var(--dark);
	color: var(--main);
	transition: 0.3s ease-in;

	a, h1, h2, h3, h4, svg {
		color: var(--main) !important;
		transition: 0.3s ease-in;
	}

	svg {
		color: var(--main) !important;
		fill: var(--main) !important;
		transition: 0.3s ease-in;
	}



	/* Header */
	.c-nav-tool_list>li>a:hover {
		border-bottom: 1px solid var(--main) !important;
	}
	.nav-container>.logo {
		color: var(--dark) !important;
	}
	.menu-items>li>a {
		color: var(--dark) !important;
	}


	/* Footer */
	.footer_copyright {

		img {
			transition: 0.3s ease-in;
			filter: invert(100%);
			-webkit-filter: invert(100%);
		}
	}


	/* Page contact */
	.container-form-contact {
		box-shadow: 0 2px 4px var(--main);
	}
	textarea::placeholder, input::placeholder {
		color: var(--main) !important;
		transition: 0.3s ease-in;
	}
	button > a {
		color: var(--dark) !important;
	}
	.input-field {
		color: var(--main) !important;
	}
	.input-field:focus {
		color: var(--main) !important;
	}
	.input-field::placeholder {
		color: var(--main-hover) !important;
	}
	input:-webkit-autofill {
		background-color: var(--dark) !important;
		color: var(--main) !important;
	}
	input:-webkit-autofill:focus {
		background-color: var(--dark) !important;
		color: var(--main) !important;
	}



	/* Page détail projet */
	.point-info-type {
		border-bottom: 1px solid var(--main) !important;
	}
	.point:before {
		background-color: var(--grey) !important;
		transition: 0.3s ease-in;
	}
	.project-more-details {
		border-top: 1px solid var(--main) !important;
	}
	.to-invert>img {
		filter: invert(100%);
		-webkit-filter: invert(100%);
	}
	.project-summary-title {
		border-bottom: 1px solid var(--main) !important;
	}



	/* Page liste projets */
	.project:hover .project-summary>.project-name {
		border-bottom: 1px solid var(--main) !important;
	}

	@media (max-width: 980px) {
		.project-summary>.project-name {
			border-bottom: 1px solid var(--main) !important;
		}
	}


	/* Page Not Found */
	.not-found-container {

		.not-found-text {
			color: var(--main) !important;

			.not-found-link {

				&:hover {
					border-bottom: 1px solid var(--main) !important;
				}
			}
		}
	}

}


/* Changement svg quand changement dark/light mode */
.icon {
	display: none;
	transition: 0.3s ease-in;
}

.icon.active {
	display: inline;
	transition: 0.3s ease-in;
}