
.not-found-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin: 5%;

	.not-found-heading {
		font-size: 48px;
		color: #333;
	}

	.not-found-text {
		font-size: 18px;
		color: #666;
		margin-bottom: 20px;

		.not-found-link {
			color: var(--dark);

			&:hover {
				transform: scale(1.05);
				border-bottom: 1px solid var(--dark);
			}
		}
	}
}


@media (max-width: 600px) {
	.not-found-container {

		.not-found-heading {
			font-size: 38px;
		}

	}
}