
/* Page Projects *//* Page Projects *//* Page Projects *//* Page Projects */

.projects-container {
	margin-top: 15vh;

	.projects-title {
		width: 100%;
		margin-bottom: 10vh;
		font-size: 40px;

		h1 {
			margin: 0;
		}
	}

	.projects {
		display: flex;
		flex-direction: column;
		gap: 1vh;


		.project {
			border: 1px solid var(--lightGrey);
			padding: 20px;
			transition: transform 0.6s ease;

			.project-summary {
				display: flex;
				overflow: hidden;

				.project-name {
					width: 33%;
					margin: 0;
					text-align: start;
					font-size: 2.3rem;
					font-weight: 300;
				}

				p {
					font-family: "Space Mono", monospace;
					width: 33%;
					text-align: center;
				}
			}

			.project-details {
				font-family: "Space Mono", monospace;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 10%;
				height: 0;
				padding: 0;
				overflow: hidden;
				transition: padding 0.3s linear, height 1s ease;

				.project-img {
					max-width: 500px;
					height: auto;
					aspect-ratio: 16/9;
					border: 0.5px solid var(--dark);

					img {
						width: 100%;
						height: auto;
					}
				}

				.project-mini-description {
					font-size: 20px;
					width: 33%;
					max-width: 33%;
					max-height: 212px;
					overflow: hidden;
				}

				.project-links {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					gap: 15%;
					width: 15%;
					height: 100%;

					.project-link {
						font-family: "Space Mono", monospace;
						background-color: var(--main);
						width: 95px;
						padding: 10px 20px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						transition: background-color 0.3s;

						a {
							color: var(--dark);
						}
					}

					.project-link:hover {
						background-color: var(--main-hover);
					}
				}
			}

			&:hover {
				transform: scale(1.01);

				.project-summary {

					.project-name {
						border-bottom: 1px solid var(--dark);
					}
				}

				.project-details {
					padding: 70px 0 40px;
					height: 300px;
				}
			}
		}
	}

}




@media (max-width: 980px) {

	.projects-container {

		.projects-title {
			text-align: center;
			margin-bottom: 15vh;
		}

		.projects {

			.project {


				.project-summary {
					flex-direction: column;

					.project-name {
						width: fit-content;
						text-align: start;
						border-bottom: 1px solid var(--dark);
					}

					p {
						width: 100%;
						text-align: start;
						margin: 0;
					}

					:nth-child(2) {
						display: none;
					}
				}

				.project-details {
					padding: 20px 0 20px;
					height: auto;
					flex-direction: column;
					overflow: inherit;

					.project-mini-description {
						display: none;
					}

					.project-links {
						flex-direction: row;
						width: auto;
						margin-top: 3vh;
					}
				}

				&:hover {
					transform: none;

					.project-summary {

						.project-name {
							border-bottom: none;
						}
					}

					.project-details {
						padding: 20px 0 20px;
						height: auto;
					}
				}
			}
		}

	}
}

@media (max-width: 600px) {

	.projects-container {

		.projects-title {
			font-size: 32px;
		}

	}
}


/* Page Project (détails) *//* Page Project (détails) *//* Page Project (détails) */

.project-full {
	margin-top: 5%;
	margin-bottom: 2%;

	.project-summary-full {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;

		.project-summary-details-full {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;

			.project-summary-title {
				font-size: 50px;
				font-weight: 300;
				width: 90%;
				margin: 0;
				text-align: start;
				border-bottom: 1px solid var(--dark);
				padding: 0;
				transition: 0.3s ease;

				a:hover {
					transform: scale(1.02);
					padding: 0 0 0 5px;
				}
			}

			.project-description-full {
				font-family: "Space Mono", monospace;
				display: flex;
				justify-content: flex-start;
				gap: 5%;
			}
		}

		.project-summary-client-full {
			text-align: center;
			align-self: center;
			margin: 0 auto;
			width: 40%;

			img {
				max-height: 100px;
				aspect-ratio: auto;
			}
		}
	}

	.project-details-full {
		font-family: "Space Mono", monospace;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px 20px 40px;
		min-height: 50vh;

		.description {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			font-size: 19px;
			width: 40%;
			max-width: 40%;
			height: auto;
			min-height: 40vh;
			padding: 0 20px;

			.description-text {
				overflow: hidden;
			}

			.project-links-full {
				text-align: center;
				padding: 0 20px;

				.project-link-full {
					font-family: "Space Mono", monospace;
					background-color: var(--main);
					padding: 10px 20px;
					border: none;
					border-radius: 4px;
					cursor: pointer;
					transition: background-color 0.3s;

					&:hover {
						background-color: var(--main-hover);
					}
				}

				a {
					color: var(--dark);
				}
			}
		}

		.site-image {
			align-self: center;
			aspect-ratio: 16/9;
			max-width: 48vw;
			border: 0.5px solid var(--dark);
		}
	}

	.project-more-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 20px auto 0;
		width: 90vw;
		height: 55vh;
		border-top: 1px solid var(--dark);
		position: relative;

		.point {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			position: absolute;

			&:before {
				content: '';
				width: 70px;
				height: 70px;
				background-color: var(--main);
				border-radius: 50%;
				margin-right: -30px;
				transition: 0.3s ease-in;
			}

			.point-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap:5px;
				font-size: 20px;

				.point-info-type {
					border-bottom: 1px solid var(--dark);
				}
			}

			&:nth-child(1) {
				top: 25%;
				left: 16%;
			}

			&:nth-child(2) {
				top: 60%;
				left: 16%;
			}

			&:nth-child(3) {
				top: 25%;
				left: 56%;
			}

			&:nth-child(4) {
				top: 60%;
				left: 56%;
			}
		}
	}
}




/* Responsive */

@media (max-width: 980px) {
	.project-full {

		.project-summary-full {

			.project-summary-client-full {

			}
		}

		.project-details-full {
			flex-direction: column-reverse;
			height: auto;

			.description {
				width: auto;
				max-width: none;
				min-height: 30vh;
			}

			.site-image {
				max-width: 100%;
				margin: 3vh 0;
			}
		}

		.project-more-details {
			margin: 20px 10px 20px;
			width: auto;

			.point {
				margin-bottom: 0;

				&:before {

				}

				.point-info {

					.point-info-type {

					}
				}

				&:nth-child(1) {
					top: 10%;
					left: 7%;
				}

				&:nth-child(2) {
					top: 60%;
					left: 7%;
				}

				&:nth-child(3) {
					top: 35%;
					left: 35%;
				}

				&:nth-child(4) {
					top: 85%;
					left: 50%;
				}
			}
		}
	}
}


@media (max-width: 600px) {
	.project-full {

		.project-summary-full {


			.project-summary-details-full {
				width: 100%;
				font-size: 12px;
			}

			.project-summary-client-full {
				display: none;
			}
		}

		.project-details-full {


			.description {


				.project-links-full {
					margin-top: 4vh;
				}
			}

			.site-image {

			}
		}

		.project-more-details {
			height: 70vh;

			.point {


				&:before {
					width: 60px;
					height: 60px;
				}

				.point-info {

					.point-info-type {

					}
				}

				&:nth-child(1) {
					top: 10%;
					left: 7%;
				}

				&:nth-child(2) {
					top: 60%;
					left: 7%;
				}

				&:nth-child(3) {
					top: 35%;
					left: 7%;
				}

				&:nth-child(4) {
					top: 85%;
					left: 7%;
				}
			}
		}
	}
}
